.container {
    width: 1200px;
    margin: auto;
    padding-left: 40px;
    padding-right: 40 px;
}
.img_container {
    width: 96px;
    height: 60px;
    float: left;
}
.img_container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
header nav {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
header nav li {
    display: inline-block;
    margin-right: 22px;
}
header nav li:last-child {
    margin-right: 0px;
}
header {
    padding-top: 55px;
    height: 60px;
}
header.hero_header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
* {
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    font-weight: 500;
}
header nav li a{
    text-decoration: none;
    line-height: 60px;
    color: black;
    font-weight: 400;
    font-size: 16px;
}
header nav li a:hover{
    opacity: 0,6;
}
.hero {
    padding-top: 115px;
}
  
.hero>.conteiner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


