.container0 {
    position: relative;
    width: 1920px;
    height: 800px;
    left: 0px;
    top: -7px;
    background: EEEFF1;
}    
.container {
    position: absolute;
    width: 96px;
    height: 60px;
    margin-top: 50px;
    margin-left: 402px;
}
.container2 {
    position: absolute;
    width: 357px;
    height: 233px;
    margin-left: 487px;
    margin-top: 271px;
}  
